{% extends "base.html" %}
{% block content %}        <!-- Modal Search End -->


        <!-- Hero Start -->
        <div class="container-fluid bg-light py-6 my-6 mt-0">
            <div class="container text-center animated bounceInDown">
                <h1 class="display-1 mb-4">About Us</h1>
                <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-dark" aria-current="page">About</li>
                </ol>
            </div>
        </div>
        <!-- Hero End -->


        <!-- About Satrt -->
        <div class="container-fluid py-6">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                        <img src="/static/img/about.jpeg" class="img-fluid rounded" alt="">
                    </div>
                    <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                        <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">About Us</small>
                        <h1 class="display-5 mb-4">Count on us, like so many others have.</h1>
                        <p class="mb-4">Welcome to Shri Renuka Jewellers! We're passionate about bringing you beautiful jewelry that's perfect for every occasion. From stunning engagement rings to unique necklaces and custom designs, we offer a wide range of high-quality pieces crafted with care.

                            At Shri Renuka Jeweller, we believe jewelry should be as special as the moments it celebrates.                            
                            Explore our collection and discover how we blend luxury with affordability, making every piece a timeless treasure you'll cherish.</p>
                        <div class="row g-4 text-dark mb-5">
                            <div class="col-sm-6">
                                <i class="fas fa-share text-primary me-2"></i>Beautiful Jewelry, Made Just for You
                            </div>
                            <div class="col-sm-6">
                                <i class="fas fa-share text-primary me-2"></i>We're Here for Your Jewelry Dreams
                            </div>
                            <div class="col-sm-6">
                                <i class="fas fa-share text-primary me-2"></i>Design Your Perfect Piece Easily
                            </div>
                            <div class="col-sm-6">
                                <i class="fas fa-share text-primary me-2"></i>Find Gorgeous Jewelry at Great Price
                            </div>
                      
                </div>
            </div>
        </div>
        <!-- About End -->


        
        <!-- Team End -->


       {% endblock %}